<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lectus sit amet erat laoreet pharetra quis ac quam. Nulla dictum aliquam mauris, eget <strong class="text-zinc-100 font-medium">finibus metus</strong> auctor in.</p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">Proin tristique nisl vel commodo sodales. Proin euismod ac nibh quis pulvinar. Nam ligula turpis, sagittis id velit sollicitudin, facilisis egestas diam. Morbi pharetra id lorem vel porttitor. Cras fermentum lobortis iaculis. <strong class="text-zinc-100 font-medium">Nam et egestas velit.</strong></p>
</section>
