<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About Me</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">Computer science student at <strong class="text-zinc-100 font-medium">Hassiba Ben Bouali University</strong>, specializing in backend development. I have a proven track record of building scalable full-stack applications and RESTful APIs using modern technologies.</p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">Passionate about creating impactful educational technology solutions and leading technical communities. Currently serving as a <strong class="text-zinc-100 font-medium">team member at InfoBrains Computer Science Club</strong>, where I help organize technical workshops and mentor fellow students.</p>
</section>
