---
import IconContainer from "@components/IconContainer.astro";
import Javascript from "@assets/icons/javascript.astro";
import React from "@assets/icons/react.astro";
import Html from "@assets/icons/html.astro";
import Tailwind from "@assets/icons/tailwind.astro";
import Express from "@assets/icons/express.astro";
import Node from "@assets/icons/node.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Bash from "@assets/icons/bash.astro";
import Git from "@assets/icons/git.astro";
import Github from "@assets/icons/github.astro";
import Vscode from "@assets/icons/vscode.astro";
import Docker from "@assets/icons/Docker.astro";
import Typescript from "@assets/icons/typescript.astro";
import Redis from "@assets/icons/redis.astro";
import Django from "@assets/icons/django.astro";

---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Skills</h2>
  <hr class="mb-6 border-zinc-600">

  <h3 class="text-xl font-medium mb-4">Backend Development</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Node.js">
      <Node size="size-9" />
    </IconContainer>
    <IconContainer name="Express">
      <Express size="size-9" />
    </IconContainer>
    <IconContainer name="PostgreSQL">
      <Postgresql size="size-9" />
    </IconContainer>
    
    <IconContainer name="Django">
      <Django size="size-9" />
    </IconContainer>
    <IconContainer name="Typescript">
      <Typescript size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Frontend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="HTML">
      <Html size="size-9" />
    </IconContainer>
    <IconContainer name="React">
      <React size="size-9" />
    </IconContainer>
    <IconContainer name="Javascript">
      <Javascript size="size-9" />
    </IconContainer>
    <IconContainer name="Tailwind">
      <Tailwind size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Development Tools</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Bash">
      <Bash size="size-9" />
    </IconContainer>
    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Github">
      <Github size="size-9" />
    </IconContainer>
    <IconContainer name="VSCode">
      <Vscode size="size-9" />
    </IconContainer>
    <IconContainer name="Docker">
      <Docker size="size-9" />
    </IconContainer>
    <IconContainer name="Redis">
      <Redis size="size-9" />
    </IconContainer>
  </div>
</section>